@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root{
    --theme: #a71222
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif,'Open Sans';
    scroll-behavior: smooth;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);


}



/* ================BANNER======================== */
/* ============================================== */
p{
    font-weight: 300;
    color: #111;
}
/* body{
    min-height: 1000px;
} */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/bg1.jpg');
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background:var(--theme) ;
    /* background: red; */
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 80px;
}
.btn:hover{
    letter-spacing: 6px;
}

/* ==================NAVBAR================= */
/* ========================================= */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding:10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);

}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
color: #111;
}
header .logo span{
    color: var(--theme);
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a{
  color: #111; 
  font-weight: 400;
}
header .navigation li a:hover{
color: var(--theme);
}


/* ======================== About ==================== */
/* =================================================== */

section{
    padding: 100px;
}
.rows{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rows .col50{
    position: relative;
    width: 48%;
}
.titletext{
    color: #111;
    font-size: 2em;
    font-weight: 400;
}
.titletext span{
    color: var(--theme);
    font-weight: 700;
    font-size: 1.5em;
}
.rows .col50 .imgbx{
position: relative;
width: 100%;
/* height: 300px; */
min-height: 300px;
}
.rows .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 121%;;
    object-fit: contain;
}
/* =================SHOP============= */
/* ================================== */
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop .content{
display: flex;
justify-content: center;
flex-direction: row-reverse;
flex-wrap: wrap;
margin-top: 40px;
}
.shop .content .box{
     width: 343px;
     margin: 20px;
     border: 55px;
     box-shadow: 1px 5px 35px rgb(62 57 57);
 }
.shop .content .box .imgbx{
     position: relative;
     width: 100%;
     height: 300px;
 }
.shop .content .box .imgbx img{
     position:absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
.shop .content .box .text{
padding: 15px 0 5px;
 }
.shop .content .box .text h3{
     font-weight: 400;
     color: #111;
 }


 /* =================Team===================== */
 /* ========================================== */
 .team .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
 }
.team .content .box{
    width:250px;
    margin: 15px;
 }
.team .content .box .imgbx{
position: relative;
width: 100%;
height: 300px;
transition: 0.5s ease-in-out;
 }
 .team .content .box .imgbx .info{
    position: absolute;
    z-index: 3;
    color: #fff;
    padding: 30px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.team .content .box .imgbx img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
.team .content .box .text{
padding: 15px 0 5px;
 }
.team .content .box .text h3{
     font-weight: 400;
     color: #111;
 }



 /* =================Testimonials===================== */
 /* ================================================== */
 .testimonials{
     background: url('/img/test2bg.jpg');
     background-size:cover;
     background-repeat: no-repeat;
    }
 .white .titletext,
 .white p{
color: #fff;
 }
 .testimonials .content{
    display: flex;
    /*justify-content: center; 
    flex-wrap: wrap;
    flex-direction: row;  */
    margin-top: 40px;
 }
    
 
.testimonials .content .box{
    width:340px;
    margin: 20px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
 }
.testimonials .content .box .imgbx{
position: relative;
width: 80px;
height: 80px;
margin-bottom: 20px;
border-radius: 50%;
overflow: hidden;
 }
.testimonials .content .box .imgbx img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
.testimonials .content .box .text{
    text-align: center;
 }
.testimonials .content .box .text p{
color: #fff;
font-style: italic;
}
.testimonials .content .box .text h3{
     font-weight: 700;
     margin-top: 20px;
     font-size: 1em;
     color: var(--theme);
     letter-spacing: 1px;
    }
    /*=================SHOP===================== */
    /*=========================================== */
    .heading{
        padding-top: 7rem;
        width: 95%;
        border-bottom: .2rem solid #111;
        margin:0 auto;
        
    }
    
    .heading span{
        font-size: 2rem;
        padding:1rem 6rem;
        color:#fff;
        background:var(--theme);
        border-top-right-radius: 3rem;
        display: inline-block;
    }

    
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
    text-decoration: line-through;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
 

/*===============RESPONSIVE================== */
/*=========================================== */
@media (max-width:991px)
{
    header,
    header.sticky{
    padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:url('/img/bgnav.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        font-size:2.3em;
        font-family:'times New Roman';
    }
    header.sticky .navigation li a{
        color:#fff;
        font-weight: 400;
        
    }
    header .navigation li a:hover{
        color: var(--theme);
        }
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url('/img/nav.png');
        background-size: 30px ;
        background-repeat: no-repeat;
        background-position: center;
    }
    .menuToggle.active{
        background:url('/img/close.png');
        background-size: 25px ;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
    }
    .banner .content p {
        font-size: 0.8em;
    }
    .rows {
        flex-direction: column;
    }
    .rows .col50 {
        position: relative;
        width: 100%;
    }
    .rows .col50 .imgbx {
        height: 300px;
        margin-top: 20px;
    }
    .titletext {
        margin-top: 40px;
        text-align: center;
    }
    .shop .content {
        margin-top: 20px;
    }
    .shop .content .box {
        margin: 10px;
    }
    .shop .content .box .imgbx {
        height: 260px;
    }
    .title {
        text-align: center;
    }
    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }
}


 