{% extends 'base.html' %}

{% load static %}

{% static "img" as baseUrl %}
{% block content %} 

    <section class="banner" id="banner" style="background-image:  url('{% static "/img/bg1.jpg"%}');">
        <div class="content">
            <h2>Always Choose Good</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quisquam sunt temporibus soluta. Culpa ad
                dicta hic atque iure laboriosam ea tempora ducimus aspernatur harum veniam, beatae praesentium minus
                vero?
                Sint consectetur inventore libero. Sit nam dignissimos est odit eius quo exercitationem, harum
                voluptatem unde expedita sapiente corporis dolorum, quidem autem facilis non id, provident quos soluta
                porro! Tempora, unde?</p>
            <a href="#" class="btn">JOIN US</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="row">
            <div class="col50">
                <h2 class="titletext"><span>A</span>bout Us</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur eos quos molestias ducimus odit
                    tenetur iste officiis exercitationem veritatis deleniti ad, animi, numquam tempore voluptate, alias
                    commodi quam quibusdam qui.
                    Neque officia at esse doloribus alias illo? Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Itaque sed unde ratione ea hic consectetur fugit commodi aliquid veritatis quam quas, quidem
                </p>
                <!-- ullam adipisci accusamus!<br><br> Impedit ipsam quibusdam sed obcaecati! Cupiditate ipsum illo
                    dolore perferendis tempora aut non praesentium ad, modi impedit! Maxime, magnam consectetur
                    temporibus sunt tenetur laboriosam quo ipsum quasi sint.</p> -->
            </div>
            <div class="col50">
                <div class="imgbx">
                    <img src="{%static '/img/about1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="shop" id="shop">
        <div class="title">
            <h2 class="titletext">Our <span>S</span>hop</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <div class="content">
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbx">
                        <img src="{%static '/img/Shop1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Special Sale</h3>
                    </div>
                </div>
            </div>

            <div class="title">
                <a href="shop" class="btn">View all</a>
            </div>
    </section>
    <section class="team" id="team">
        <div class="title">
            <h2 class="titletext">Our <span>T</span>eam</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="content">
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/team.jpg' %}" alt="">
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi commodi at
                        quos asperiores atque ipsum modi distinctio</p>
                </div>
                <div class="text">
                    <h3>Name bleh blehh</h3>
                </div>
            </div>
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/team.jpg' %}" alt="">
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi commodi at
                        quos asperiores atque ipsum modi distinctio</p>
                </div>
                <div class="text">
                    <h3>Name bleh blehh</h3>
                </div>
            </div>
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/team.jpg' %}" alt="">
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi commodi at
                        quos asperiores atque ipsum modi distinctio</p>
                </div>
                <div class="text">
                    <h3>Name bleh blehh</h3>
                </div>
            </div>
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/team.jpg' %}" alt="">
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi commodi at
                        quos asperiores atque ipsum modi distinctio</p>
                </div>
                <div class="text">
                    <h3>Name bleh blehh</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials" id="testimonials" style ="background-image: url('{% static "/img/test2bg.jpg"%}')">
        <div class="title white">
            <h2 class="titletext">What <span>O</span>thers say about us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="content">
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/test1.jpg' %}" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure esse illum odit excepturi, sint
                        perspiciatis earum unde accusantium eos iusto laborum, iste deserunt itaque aliquam adipisci
                        aliquid! Minus</p>
                    <h3> Name blehh blehhh</h3>
                </div>
            </div>
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/test2.jpg' %}" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure esse illum odit excepturi, sint
                        perspiciatis earum unde accusantium eos iusto laborum, iste deserunt itaque aliquam adipisci
                        aliquid! Minus</p>
                    <h3> Name blehh blehhh</h3>
                </div>
            </div>
            <div class="box">
                <div class="imgbx">
                    <img src="{%static '/img/test3.jpg' %}" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure esse illum odit excepturi, sint
                        perspiciatis earum unde accusantium eos iusto laborum, iste deserunt itaque aliquam adipisci
                        aliquid! Minus</p>
                    <h3> Name blehh blehhh</h3>
                </div>
            </div>
        </div>


    </section>
   
{% endblock content %} 

